.container{
  text-align: center;
}

.table_row_head{
  background-color: #2E86C1;
  color: white;
  border: 1px solid #2E86C1;

}

.table_row_body{
  background-color: #34495E;
  border: 1px solid #2E86C1;
  color: white;
}

.table_dh{
  padding: .30em 3em;
  text-align: left;

}

.tables{
  display: flex;
  height: 29em;
  overflow:auto;

}

.title{
  font-weight: 700;
  margin-left: 15%;
}

.table{
  margin-left:auto;
  margin-right:auto;

}


@media only screen and (max-width: 1020px){
  .table_dh{
    padding: .25em 1em;
    text-align: left;
  
  }

  .title{
    margin-left: 10%;
  }
}